.form {
  width: min(100%, 600px);
  margin-inline: auto;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &+& {
    margin-block-start: 2rem;
  }
}

.formLabel {
  font-size: 1.2rem;
  font-weight: 500;
}

.formControl {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 0.3em;
  outline-color: transparent;
  transition: outline-color 0.3s ease-in-out;

  &:focus-visible {
    outline-color: var(--color-accent);
  }
}

.formBtnWrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-block-start: 4rem;
}

.formBtnWrapperReverse {
  flex-direction: row-reverse;

}

.errorMsg {
  color: var(--color-danger);
  background-color: var(--color-danger-bg);
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  margin-block-start: 2rem;
}

@media screen and (min-width:600px) {
  .formGroup {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .formLabel {
    flex-basis: 50px;
  }

  .formControl {
    flex-grow: 1;
  }
}